<h1>Edit Duck: <%= @duck.name %></h1>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p style="color: red;"><%= error %></p>
  <% end %>
<% end %>

<%= form_for @duck do |f| %>
    <%= f.label :name %>
    <br>
    <%= f.text_field :name %>
    <br>
    <%= f.label :description %>
    <br>
    <%= f.text_field :description %>
    <br>
    <%= f.label :student %>
    <br>
    <%= f.collection_select :student_id, Student.all, :id, :name %>
    <br>
    <br>
    <%= f.submit %>
<% end %>
  